<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block titulo %} CA~PAI~VARA {% endblock %} </title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <script src="../static/js/scripts.js"></script>
    {% block body %}
        <img src="https://media.tenor.com/-fiv_lIH_N4AAAAC/capybara-capivara.gif">
        <iframe src="https://giphy.com/embed/hi2kPofVMW70k" width="480" height="319" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <img src="https://i.pinimg.com/originals/47/6e/2e/476e2e982e09fa6fac5ba6ccf940e846.gif">
        <img src="https://i.pinimg.com/originals/73/9e/89/739e89337813931f48aa57eee3ad9b88.gif">
    {% endblock %}
</body>
</html>