{% extends "capaivara.html" %}

{% block head %}
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {{ bootstrap.load_js() }}
  {% endblock %}

  <title>testeee</title>
{% endblock %}

{% block body %}
  {% block formulario %}
    <nav class="navbar navbar-expand-lg bg-light fixed-top shadow-sm px-4 py-3">
      <form method="POST">
        {{ form.csrf_token }}
        {{ form.email.label() }}
        {{ form.email() }}
        {{ form.password.label() }}
        {{ form.password() }}
        {{ form.btn() }}
      </form>
    </nav>
  {% endblock %}

  <section class="d-flex flex-column align-items-center">
    <h4>Usuários</h4>
    {% for user in users %}
      <div class="card mb-4" style="width: 40rem;">
          <div class="card-body">
              <h5 class="card-title">{{user.username}}</h5>
              <a href=" {{ url_for('profile', user_id=user.id) }} " class="card-link">
                Ver perfil
              </a>
          </div>
      </div>
    {% endfor %}
  </section>

{% endblock %}
