{% extends "capaivara.html" %}

{% block titulo %}
    NEW ACCOUNT
{% endblock %}

{% block body %}
    <section class="d-flex flex-column align-items-center p-4">
        <div class="card" style="width: 40rem;">
            <div class="card-header">
                Criar conta
            </div>

            <form class="card-body" method="POST">
                {{ form.csrf_token }}

                <h5 class="card-title">{{ form.email.label() }}</h5>
                <p class="card-text">{{ form.email }}</p>

                <h5 class="card-title">{{ form.username.label() }}</h5>
                <p class="card-text">{{ form.username }}</p>

                <h5 class="card-title">{{ form.password.label() }}</h5>
                <p class="card-text">{{ form.password }}</p>

                <h5 class="card-title">{{ form.checkPassword.label() }}</h5>
                <p class="card-text">{{ form.checkPassword }}</p>

                {{ form.btn() }}
            </form>
        </div>
    </section>
{% endblock %}
